web/include/ns2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomizationID"
              type="xs:string" />
  <xs:element name="ProfileID"
              type="xs:string" />
  <xs:element name="ID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="schemeID"
                        type="xs:string"
                        use="optional" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueDate"
              type="xs:date" />
  <xs:element name="OrderTypeCode">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedByte">
          <xs:attribute name="listID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCurrencyCode">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="listID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerReference"
              type="xs:string" />
  <xs:element name="AccountingCost"
              type="xs:unsignedInt" />
  <xs:element name="EndDate"
              type="xs:date" />
  <xs:element name="EndpointID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="schemeID"
                        type="xs:unsignedShort"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name"
              type="xs:string" />
  <xs:element name="StreetName"
              type="xs:string" />
  <xs:element name="CityName"
              type="xs:string" />
  <xs:element name="PostalZone"
              type="xs:unsignedByte" />
  <xs:element name="CountrySubentity"
              type="xs:string" />
  <xs:element name="IdentificationCode">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="listID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyID"
              type="xs:string" />
  <xs:element name="RegistrationName"
              type="xs:string" />
  <xs:element name="Note"
              type="xs:string" />
  <xs:element name="TaxAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="currencyID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineExtensionAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="currencyID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxExclusiveAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="currencyID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxInclusiveAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="currencyID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayableAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="currencyID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quantity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="unitCode"
                        type="xs:string"
                        use="required" />
          <xs:attribute name="unitCodeListID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceAmount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="currencyID"
                        type="xs:string"
                        use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Percent"
              type="xs:decimal" />
</xs:schema>