web/include/nso.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema2.xsd"
             namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" />
  <xs:element name="ValidityPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q1:EndDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginatorDocumentReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q2:ID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q3:ID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyerCustomerParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Party">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q4="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q4:EndpointID" />
              <xs:element name="PartyName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q5="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q5:Name" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PostalAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q6="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q6:StreetName" />
                    <xs:element xmlns:q7="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q7:CityName" />
                    <xs:element xmlns:q8="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q8:PostalZone" />
                    <xs:element xmlns:q9="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q9:CountrySubentity" />
                    <xs:element name="Country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q10="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q10:IdentificationCode" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartyTaxScheme">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q11="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q11:CompanyID" />
                    <xs:element name="TaxScheme">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q12="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q12:ID" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartyLegalEntity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q13="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q13:RegistrationName" />
                    <xs:element xmlns:q14="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q14:CompanyID" />
                    <xs:element name="RegistrationAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q15="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q15:CityName" />
                          <xs:element name="Country">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns:q16="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                            ref="q16:IdentificationCode" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellerSupplierParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Party">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q17="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q17:EndpointID" />
              <xs:element name="PartyName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q18="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q18:Name" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PostalAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q19="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q19:StreetName" />
                    <xs:element xmlns:q20="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q20:CityName" />
                    <xs:element xmlns:q21="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q21:PostalZone" />
                    <xs:element xmlns:q22="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q22:CountrySubentity" />
                    <xs:element name="Country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q23="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q23:IdentificationCode" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartyLegalEntity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q24="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q24:RegistrationName" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountingCustomerParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Party">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q25="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q25:EndpointID" />
              <xs:element name="PartyName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q26="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q26:Name" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PostalAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q27="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q27:StreetName" />
                    <xs:element xmlns:q28="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q28:CityName" />
                    <xs:element xmlns:q29="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q29:PostalZone" />
                    <xs:element xmlns:q30="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q30:CountrySubentity" />
                    <xs:element name="Country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q31="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q31:IdentificationCode" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartyTaxScheme">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q32="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q32:CompanyID" />
                    <xs:element name="TaxScheme">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q33="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q33:ID" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartyLegalEntity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q34="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q34:RegistrationName" />
                    <xs:element xmlns:q35="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q35:CompanyID" />
                    <xs:element name="RegistrationAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q36="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q36:CityName" />
                          <xs:element name="Country">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns:q37="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                            ref="q37:IdentificationCode" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeliveryLocation">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q38="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q38:ID" />
              <xs:element xmlns:q39="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q39:Name" />
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q40="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q40:IdentificationCode" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q41:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q42:TaxAmount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnticipatedMonetaryTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q43:LineExtensionAmount" />
        <xs:element xmlns:q44="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q44:TaxExclusiveAmount" />
        <xs:element xmlns:q45="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q45:TaxInclusiveAmount" />
        <xs:element xmlns:q46="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                    ref="q46:PayableAmount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LineItem">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q47="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q47:ID" />
              <xs:element xmlns:q48="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q48:Quantity" />
              <xs:element xmlns:q49="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                          ref="q49:LineExtensionAmount" />
              <xs:element name="Price">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q50="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q50:PriceAmount" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q51="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                ref="q51:Name" />
                    <xs:element name="BuyersItemIdentification">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q52="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q52:ID" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ClassifiedTaxCategory">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns:q53="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q53:ID" />
                          <xs:element xmlns:q54="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                      ref="q54:Percent" />
                          <xs:element name="TaxScheme">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns:q55="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
                                            ref="q55:ID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>