web/include/test100.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="C:\Users\marco.cardinale\Documents\copernico\test101.xsd" namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" />
  <xs:element name="StandardBusinessDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StandardBusinessDocumentHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="HeaderVersion" type="xs:string" />
              <xs:element minOccurs="0" name="Sender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Identifier">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Authority" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Receiver">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Identifier">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Authority" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="DocumentIdentification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Standard" type="xs:string" />
                    <xs:element minOccurs="0" name="TypeVersion" type="xs:string" />
                    <xs:element minOccurs="0" name="InstanceIdentifier" type="xs:string" />
                    <xs:element minOccurs="0" name="Type" type="xs:string" />
                    <xs:element minOccurs="0" name="CreationDateAndTime" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="BusinessScope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Scope">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Type" type="xs:string" />
                          <xs:element minOccurs="0" name="InstanceIdentifier" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" xmlns:q1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" ref="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>